<div class="container mx-auto mt-20">
  <div class="max-w-screen-lg mx-auto">
    <div class="gestures">
      <h1 class="gestures-title">Gestures</h1>
      <form [formGroup]="form" class="gestures-form">
        <input type="text" name="gesture" formControlName="name" placeholder="Name" class="gestures-search-bar" />
        <div class="gestures-list">
          @for (gesture of filteredGestures | async; track gesture.name) {
            <div class="gestures-item" (click)="playGesture(gesture)">
              <button class="gestures-item-button" type="button">
                {{ gesture.name}}
              </button>
            </div>
          }
        </div>
        <button class="gestures-reset-button" type="button" (click)="reset()">RESET</button>
      </form>
    </div>
  </div>
</div>